name: aqc

on:
  workflow_dispatch:
  schedule:
     - cron: '20 8,16,21 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行【aiqicha】'     
        run: |
          node Task/aiqicha.js
        env:
          AQCCOOKIES: ${{ secrets.AQCCOOKIES }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
